<div class="col-lg-8 col-lg-offset-2 text-center" id="contact-panel">
    <form>
        <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Name</label>
        </div>
        {% comment %}

        <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
        </div>

        <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Mobile No</label>
        </div>
        {% endcomment %}

        <div class="group">
            <textarea required rows="4" ></textarea>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Message</label>
        </div>
        <div class="group">
            <a href="#about" class="btn btn-primary btn-xl">Lets talk</a>
        </div>
    </form>

</div>