   <div class="col-lg-8 col-lg-offset-2 text-center" id="contact-panel">
                <div class="alert alert-success alert-dismissible fade in" role="alert" style="display: none" id="message-success" >
                    <button type="button" class="close" onclick="$('#message-success').hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                    Thank you for reaching out. We'll respond to you shortly.
                </div>

                <form id="contactForm" accept-charset="UTF-8">
                    <div class="group">
                        <input type="text" required id="Name">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Name</label>
                    </div>
                    {% comment %}

                    <div class="group">
                        <input type="text" required id="Email">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>

                    <div class="group">
                        <input type="text" required id="Phone">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Mobile No</label>
                    </div>
                    {% endcomment %}

                    <div class="group">
                        <textarea required rows="4" id="Message"></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Message</label>
                    </div>
                    <input type="hidden" name="_next" value="/#contact?messaged=true" />
                    <div class="group">
                        <button class="btn btn-primary btn-xl">Lets talk</button>
                        <!-- <a href="?messaged=true#contact" class="btn btn-primary btn-xl" value="Send">Test</a> -->
                    </div>
                </form>

            </div>
