<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Building software is an engineering feat</h1>
            <h2>A simple engineering</h2>
            <hr>
            <p>
                It doesn't have to be as tough as it sounds. The technical problems have already been solved.
                Now the only problem left is to integrate your domain to the technology.
                We make this feat simple for you.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
