<section id="page-not-found" class="page-not-found">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6 homer-section">
                <div class="portfolio-box" style="text-align: center;">
                    <h2>Ooh ! Homer is exercising here.</h2>
                    <h2 class="compact"> Something is not right.</h2>
                    <a href="/" class="btn btn-primary btn-xl page-scroll" style="display: table; margin: 13px auto; ">Go Home</a>
                    <span class="portfolio-box-title">
                    </span>
                    <img src="img/homer-exercise.png" class="img-responsive" style="top: 0; bottom: auto;">
                </div>
                <div>
                <a href="#game"class="btn btn-primary btn-xl page-scroll" style="display: table; margin: 13px auto; ">Or beat his score
                  <i class="fa fa-1x fa-angle-double-down fa-spin bounceIn look-down"></i>
                  <i class="fa fa-1x fa-angle-double-right fa-spin bounceIn look-right"></i>
                </a>
                </div>
            </div>
             <div class="col-lg-6 col-sm-6 game-section" id="game">
                  {% include game.html %}
             </div>
        </div>
    </div>
</section>
