<section class="bg-dark trimmed-bottom" id="toolsets">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Few of our toolsets</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row no-gutter text-center">
        {% include hammer-down-with-links.svg %}
            <!-- <object type="image/svg+xml" data="img/toolset/hammer-down.svg"> -->
                <!-- <img class="parent-sized" src="img/toolset/hammer-down.svg"> -->
            </object>

          <!-- <img class="parent-sized" src="img/toolset/big-bat-symbol-wordcloud.svg"> -->
        </div>
    </div>
</section>